<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="campos" label="COM_PERFIL_REGISTRATION_PROFILE_LABEL" description="COM_PERFIL_COMPONENT_DESC">

        <field
                name="email"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_EMAIL_LABEL"
                value="true"
                filter="boolean"
        />
                    <field
                    name="username"
                    type="checkbox"
                    class="inputbox"
                    label="COM_PERFIL_USERNAME"
                    filter="boolean"
                    value="true"

                    />
                                    <field
                        name="last_name1"
                        type="checkbox"
                        class="inputbox"
                        label="COM_PERFIL_LAST_NAME_LABEL"
                        value="true"
                        filter="boolean"
                />
                    <field
                        name="last_name2"
                        type="checkbox"
                        class="inputbox"
                        label="COM_PERFIL_LAST2_NAME_LABEL"
                        value="true"
                        filter="boolean"
                />
                <field
                        name="name"
                        type="checkbox"
                        class="inputbox"
                        label="COM_PERFIL_NAME_LABEL"
                        value="true"
                        filter="boolean"
                />

        <field
                name="cellphone"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_CELLPHONE_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="phone"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_PHONE_LABEL"
                value="true"
                filter="boolean"

        />



        <field
                name="street"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_STREET_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="int_number"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_INT_NUMBER_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="ext_number"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_EXT_NUMBER_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="reference"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_REFERENCE_LABEL"
                value="true"
                filter="boolean"

        />
                    <field
                        name="business_name"
                        type="checkbox"
                        class="inputbox"
                        label="COM_PERFIL_BUSINESS_NAME_LABEL"
                        value="true"
                        filter="boolean"
                />
        <field
                name="dob"
                type="checkbox"
                class="in"
                label="COM_PERFIL_DOB_LABEL"
                value="true"
        />
        <field
                name="zip_code"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_ZIP_CODE_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="location"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_LOCATION_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="city"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_CITY_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="state"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_STATE_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="rfc"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_RFC_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="nss"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_NSS_LABEL"
                value="true"
                filter="boolean"

        />
        <field
                name="pid"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_PID_LABEL"
                value="true"
                filter="boolean"
        />
        <field
                name="gmin"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_GMID_LABEL"
                value="true"
                filter="boolean"
        />
        <field
                name="password"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_PASSWORD_LABEL"
                value="true"        
        />

        <!--
        Campos extra
         -->
        <field
                name="car"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_CAR_LABEL"
                value="true"
                filter="boolean"
        />
        <field
                name="car_year"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_CAR_YEAR_LABEL"
                value="true"
                filter="boolean"
        />
        <field
                name="car_brand"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_CAR_BRAND_LABEL"
                value="true"
        />

        <field
                name="car_model"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_CAR_MODEL_LABEL"
                value="true"
        />

        <field
                name="car_gasoline"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_CAR_GASOLINE_LABEL"
                value="true"
        />
        <field
                name="car_cylinders"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_CAR_CYLINDERS_LABEL"
                value="true"
        />

        <field
                name="car_nodata"
                type="checkbox"
                class="inputbox"
                label="COM_PERFIL_CAR_NODATA_LABEL"
                value="true"
        />
    </fieldset>
</config>