.claseChekbox{
 width:10%!important;   
}

#componnetContent, #wrap_info{
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
#perfilForm input{
   // max-width: 25rem;
}

.control-group{
//    max-width: 24rem;

}
#perfilForm input, .remind input, .reset input {
    isplay: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.term{
    width: 7%!important;
}
#perfilForm .disableInput{
    background-color: lightgray;
}

.container{
    border:1px solid darkgrey;
    border-radius:3px;
    padding:5px;
    width:40%;
    margin:0 auto;
    letter-spacing:1px;
    font-family: sans-serif;
    box-shadow: 0px 2px 2px 0px gray;
}

.container h1{
    margin-top: 0px;
    font-weight: normal;
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#div_content{
    width:60%;
    margin: 0 auto;
    min-height:200px;
    height: auto;
}

#div_content div{
    margin-bottom:8px;

}
.clear{
    clear:both;
    margin-top: 20px;
}

#searchResult{
    list-style: none;
    padding: 0px;
    width: 250px;
    position: absolute;
    margin: 0;
    z-index:9999;
}

#jform_dob-lbl{
    margin-right: 13px;
}
#searchResult li{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#searchResult li:nth-child(even){
    //color: white;
}

#searchResult li:hover{
    cursor: pointer;
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

input[type=text]{
    padding: 5px;
    width: 250px;
    letter-spacing: 1px;
}

.dropdown-toggle {
    background-color: #cccccc!important;    
}
/* Center the loader */
#loader {
margin-left: -200px;
    margin-top: -200px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
#contenedor{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: #000;
    opacity: .5;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;

}